.navbar {

    display: flex;
    width: 100%;
    height: 20%;
    margin: auto;
}   




.Links .Link,
.Link, .btn2 {
    
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #5a789f;
    text-decoration: none;
}
  
.logo-nav {
  
  display: flex;
  width: 20%;
  margin: auto;
  margin-top: -3.5%;
  margin-left: 3%;
  }
  
  .Links {

    display: flex;
    margin: auto;
    align-items: center;
    width: 60%;
    justify-content: space-evenly;
  }

  .Links .btn2 {

    padding-left: 6%;
    background-color: ##f5f7fc;
    border: none;
  }

  .input-container {
    position: relative;
    width: 25%;
  }
  
  .input-nav {
    border-radius: 13px;
    padding: 0.5em;
    padding-right: 2em; /* Espaço suficiente para o ícone no canto */
    width: 90%;
    border: 2px solid #5a789f;
    background-color: #f5f7fc;
  }
  .input-nav::placeholder {
    color: #5a789f; 
  }
  
  .img-navBar {
    position: absolute;
    right: 10px; /* Ajuste a posição horizontal do ícone */
    top: 50%;
    transform: translateY(-50%);
    width: 17px; /* Tamanho do ícone menor */
    height: auto;
    cursor: pointer;
    color: #5a789f;
  }


  .search-results {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 12%;
    left: 61%;
    width: 15.5%; /* Mesma largura do input */
    overflow-y: auto; /* Adiciona rolagem se necessário */
    background-color: #fff; /* Fundo branco */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra leve */
    color: #5a789f;
  }
  
  .search-results ul {
    
    margin: 0;
    padding: 0;
  }
  
  .search-results li {
    padding: 10px 15px; /* Espaçamento interno */
    cursor: pointer;
    font-size: 14px;
    border-bottom: 1px solid #ddd; /* Linha entre os itens */
  }
  
  .search-results li:last-child {
    border-bottom: none; /* Remove a linha do último item */
  }
  
  .search-results li:hover {
    background-color: #f0f0f0; /* Cor de fundo ao passar o mouse */
  }