.navbar {

    display: flex;
    width: 100%;
    height: 20%;
    margin: auto;
}

/* .Links .Link:hover,
.Links .btn2:hover {

  cursor: pointer;
  transition: 0.5s;
  transform: scale(1.1);
} */


.Links .Link,
.Link, .btn2 {
    
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #5a789f;
    text-decoration: none;
}
  
.logo-nav {
  
  display: flex;
  width: 20%;
  margin: auto;
  margin-top: -3.5%;
  margin-left: 3%;
  }
  
  .Links {

    display: flex;
    margin: auto;
    align-items: center;
    width: 60%;
    justify-content: space-evenly;
  }

  .Links .btn2 {

    padding-left: 6%;
  }

  .input-container {
    position: relative;
    width: 25%;
  }
  
  .input-nav {
    border-radius: 13px;
    padding: 0.5em;
    padding-right: 2em; /* Espaço suficiente para o ícone no canto */
    width: 90%;
    border: 2px solid #5a789f;
  
  }
  .input-nav::placeholder {
    color: #5a789f; 
  }
  
  .img-navBar {
    position: absolute;
    right: 10px; /* Ajuste a posição horizontal do ícone */
    top: 50%;
    transform: translateY(-50%);
    width: 17px; /* Tamanho do ícone menor */
    height: auto;
    cursor: pointer;
    color: #5a789f;
  }

  .search-results {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
  }
  
  .search-results ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .search-results li {
    padding: 10px;
    cursor: pointer;
  }
  
  .search-results li:hover {
    background-color: #f0f0f0;
  }