 
  .App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .profile {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: flex;
  }
  
  .profile h2 {
    font-size: 20px;
    margin: 0;
    color: #333;
  }
  
  .profile p {
    font-size: 14px;
    color: #777;
    margin: 5px 0;
  }
  
  .profile h3 {
    font-size: 18px;
    color: #333;
    margin-top: 20px;
  }
  
  .rating {
    color: #ff9900;
    margin: 10px 0;
    font-size: 16px;
  }
  
  .agenda {
    margin: 20px 0;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    text-align: center;
    padding: 10px;
  }
  
  th {
    font-size: 14px;
    color: #555;
  }
  
  td {
    font-size: 14px;
    color: #333;
  }
  

  
  .agendar:hover {
    background-color: #007bff;
    color: #fff;
  }
  
  button.selected {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  button#agendar {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    display: block;
  }
  
  button#agendar:not(:disabled):hover {
    background-color: #388e3c;
  }
  
  /* Navegação entre semanas */
  .week-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .week-navigation button {
    background-color: #f0f0f0;
    color: #007bff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .week-navigation button:hover {
    background-color: #007bff;
    color: #fff;
  }
  
  .week-navigation span {
    font-size: 14px;
    color: #555;
  }

  .botao{
    display: block;
  }