:root{
    --cor-1: #5A789F;
  --cor-2: #CAD7EB;
  --cor-3: #000;
}

.corpo{
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    margin-top: 100px;
    margin-top: 50px;
}

.titulo{
    color: var(--cor-1);
    margin-left: -1px;
    font-size: 50px;
}

.texto{
    flex-wrap: wrap;
    color: var(--cor-3);
    font-size: 25px;
    width: 600px;
    font-family: 'Poppins' , sans-serif;
}

.infoMissao{
    display: block;

    margin-left: 500px;
    margin-left: 700px;
    position: absolute;
}

.bolinhas{
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-left: 1262px;
    margin-top: -700px;
    margin-left: 1253px;
    margin-top: -600px;
    width: 650px;
}

.img{
    margin-right: 900px;
    width: 800px;

}

.titulo2{
    color: var(--cor-1);
    font-size: 50px;
}

.infoFundacao{
    display: block;
    margin-left: 700px;
    position: absolute;

}