.bory-container{
  height: 100vh;
  width: 100%;
}

.h1_Profissionais_adm{
  padding-top: 5%;
  padding-left: 2.3%;
  font-size: 3em;
  color: #5A789F; 
}

.h1_Paciente_adm{

  padding-left: 2.3%;
  padding-top: 3%;
  font-size: 3em;
  color: #5A789F; 
}

.container_padrao_adm{

  display: flex;
  width: 100vw;
  height: 27vh;
  padding-top: 3%;
  align-items: center;
  justify-content: space-evenly;
}

.Div_profissionais_adm{

  display: flex;
  font-size: 1em;
  padding: 1%;
  width: 20%;
  height: 100%;
  background-color: #5A789F;
  border-radius: 15px;
  color: white;
  
}

.Div_profissionais_adm h1{
  font-size: 1.5em;
}

.div_um_interna_profissional{
  width: 40%;
}

.div_um_interna_profissional img{

   width: 80%;

}

.div_dois_interna_profissional{
  width: 60%;
}


.p_padrao{

  font-weight: bold;
}

.botoes_adm{

  font-size: 130%;
  width: 70%;
  padding: 2%;
  border-radius: 13px;
  border: 1px solid var(--cor-2);
  color: var(--cor-1);
  
}

.botoes_adm:hover{
  transition: 1s;
  transform: scale(1.1);
  background-color: #C1DFF4;
  border: none;
  color: var(--cor-4);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.div_botao_dois_adm{

  padding-top: 10%;


}