*{
    font-family: 'Poppins' , sans-serif;
}

:root{
    --cor-1: #5A789F;
    --cor-2: #CAD7EB;
    --cor-3: #000;
    --cor-4: #012A4A;
    --cor-5: #014F86;
}

.escolhaCadastro-container{
    background-color:#5A789F;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    margin: auto;
}

body{
    margin: auto;
}

.Lado-esquerdo{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: 6%;
    padding-left: 2%;
}

.lado-Direito{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: flex-end;
}
.entrar{
    width: 30%;
    height: 20%;
    padding: 5%;
    display: flex;
    font-size: 130%;
    justify-content: end;
    align-items: flex-end;
}


.entrar-estilizado{
    font-size: 60%;
    padding: -3%;
    width: 50%;
    border-radius: 13px;
    border: 1px solid var(--cor-2);
    color: var(--cor-1);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.entrar-estilizado:Hover{
    transition: 1s;
    transform: scale(1.0);
    background-color: #C1DFF4;
    border: none;
    color: var(--cor-4);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.titulo-Cadastro{
    font-size: 300%;
    color: #ffff;
}

.checkboxs{
    width: 79%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    font-size: 220%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    color: #ffff;
    margin-top: 2%;
}

.estilização-Check{
    padding: 3%;
}

.check1 {
    width: 20px;
    height: 20px;
    border: 2px solid #ffff;
    border-radius: 50%;
    outline: none;
    opacity: 0.6;
    /*transition: 0.3s;*/
  }
  
.check1:hover:before {
    box-shadow: 0px 0px 0px 12px rgba(112, 148, 247, 0.493);
    border-radius: 50%;
    opacity: 1;
  }
  
.check1:before {
    content: '';
    display: block;
    width: 60%;
    height: 60%;
    margin: 10%; /* Keeping margin only 10% */
    padding: 10%; /* Increase the inner area for pushing the border out of the circle */
    border-radius: 50%;
    transition: 0.3s; /* Move your transition to here */
  }
      
.check1:checked:before {
    background:var(--cor-5);
  }

.Proximo{
    width: 100%;
    margin-top: 10%;
    padding: 4%;
    display: flex;
    font-size: 130%;
}

.Proximo .botao2{

    display: flex;
    width:50%;
}

.botao2 button {

    width: 50%;
}

.proximo-estilizado{
    font-size: 60%;
    width: 80%;

    border-radius: 13px;
    border: 1px solid var(--cor-2);
    color: var(--cor-1);
}

.arvore {

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
}

.arvore-estilizada {
    
    margin: auto;
    width: 100%;
    height: fit-content;

}

.proximo-estilizado:hover{
    transition: 1s;
    transform: scale(1.1);
    background-color: #C1DFF4;
    border: none;
    color: var(--cor-4);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.botao1{
    display: flex;
    width: 30%;
}