.inicio-container{
   background-color: rgb(255, 255, 255);
   overflow-x: hidden; 
   width: 100%;
   height: 100vh;
   margin: 0;   
}

.busca{
    background-color:#5a789f7f;
    width: 86%;
    height: 45vh;
    margin-left: 20%;
    margin-bottom: 6%;
    margin-top: 3%;
    border-radius: 30px;  
    display: flex;
    flex-direction: row;

}

.esquerda,
.direita {

    width: 50%;
}

.busca-um,
.busca-dois,
.busca-tres {

    display: flex;
    height: 30%;
}

.busca-um button,
.busca-dois button,
.busca-tres button {

    width: 25%;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.29);
    border-radius: 40px;
    height: 65%;
    font-size: 23px;
}

.button-container button {

    width: 25%;
    background-color: var(--cor-1);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 40px;
    height: 65%;
    font-size: 26px;
    color: white;
}

.temas-busca {

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
}

.button-container {

    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    padding-left: 3%;
    
}

.text-container {

    width: 100%;
    height: 20%;
}

.imgInicio img {

    width: 80%;
    height: 100%;
    margin: auto;
}

.profissionais{
    background-color: #5A789F;
    width: 100%;
    height: fit-content ;
    border-radius: 100px 100px 0 0;
    display: flex;
    flex-direction: column; /* Organiza em coluna */
    gap: 140px; /* Espaçamento igual entre as divs */
    
    
   
}

.profissional{
    background-color: #F8F8F9;
    width: 65%;
    height: 59vh;
    margin-left: 17.5%;
    border-radius: 25px;
    box-shadow: 5%;
    

}
