@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');

*{

    font-family: 'Poppins' , sans-serif;
}

.landingPage-container{
    background-color:#ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    margin: auto;
}



.info {

    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    margin-left: 5%;
}

.container-maior {

    display: flex;
    margin: auto;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.titulo {

    font-family: "Poller One", serif;
    font-weight: 300;
    font-style: normal;
    color: #013a63;
    flex-wrap: wrap;
    width: 90%;
    font-size: 50px;
    margin-left: 10%;
}

.subtitulo {

    color: #013a63;
    font-family: "Poppins", sans-serif;
    flex-wrap: wrap;
    width: 80%;
    font-size: 19px;
    display: block;
    margin-left: -20%;
    margin-top: -30px;
      
}

.subtitulo p {

    height: 30px;
    width: 100%;
    margin-left: 7%;

}

.btn {

    padding:9%;
    background-color: #5a789fe6;
    border: 1px solid;
    border-radius: 13px;
    color: white;
    margin-top: 10%;
    margin-left: -50%;
    width: 140%;
    font-family: "Poppins", sans-serif;
    font-size: 28px;
    margin-left: -120%;
}

.btn:hover {

    background-color: #4e6583;
    transition: 0.5s;
    cursor: pointer;
}

.img2 {

    margin: auto;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: -6%;
  
    position: relative;

}

.img2 .computer-inicio {

    display: flex;
    margin: auto;
    width: 80%;
    height: 85%;
    
    padding-bottom: 6%;
}

.back {

    background-color: var(--cor-6);
    width: 100%;
    height: 110%;
    display: flex;
}

.imgPhone{

    background-color: none;
    width: 40vw;
}

.phoneImage {

    width: 85%;
    height: 80%;
    padding-top: 13%;

}

.titulo-back{

    background-color: none;
    height: 20%;
    margin: auto;
    text-align: start;
    width: 80%;
   
}

.titulo-back h1 {

    padding-top: 7%;
    font-style: italic;
    color: var(--cor-7);
    font-weight: 500;
    font-size: 40px;
   
}

.texto-um {

    background-color: none;
    height: 35%;
    margin-left: 8%;
    text-align: start;
    /* font-family: "Poppins", sans-serif; */
    
    font-size: 23px;
    width: 55%;
}

.texto-um{
    color:#414141
    
    
}

.texto-dois{
    color:#414141
   
}

.texto-dois {

    background-color: none;
    height: 35%;
    margin: auto;
    text-align: start;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    width: 55%;
}

.texto-um p {

    position: absolute;
    width: 30%;
    padding-top: 3%;
}

.circuloimg {

    margin-left: 10%;
}

.conhecer-gente {

    height: 10%;
    margin: auto;
}

.conhecer-gente .conhecer-button {

    padding: 1%;
    background-color: var(--cor-1);
    color: white;
    font-family: "Poppins", sans-serif;
    border: none;
    border-radius: 13px;
    font-weight: bold;
    font-size: 25px;
    width: 45%;
    margin-top: -30%;

}

.conteudo {

    width: 60vw;
    height: 100%;
    margin: auto;
}

.conteudo h1 {

    height: fit-content;
    margin: auto;
}

.grande {

    background-color: #C1DFF4;
    display: flex;
    width: 100vw;
}

.esquerdo {

    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    background-color: #C1DFF4;
    margin: 25px 0 0 35px;
    align-items: center;
}


.como-funciona {

    width: 70%;
    height: 100%;
    background-color: #C1DFF4;
    font-size: 38px;
   
   
    margin: 0 0 0 60px;
}

.como-funciona p {

    font-style: italic;
    color: #013a63;
    

}

.esquerdo .text-flex {

    font-size: 23px;
    font-weight: 100;
    width: 80%;
    color: #414141;
    border: none;
    border-radius: 20px;
    margin: 0 0 40px 0;
    margin-left: 3%;
    padding: 2.5%;
}

.imagem-direito {

    width: 40%;
    background-color: #C1DFF4;
    display: flex;
    justify-content: right; /* Centraliza horizontalmente */
    align-items: right;  
}

.imagemterapia{
    width: 90%;
    
   
    
    
}

.relatostotal{
    width: 80%;
    display: flex;   
    gap: 6%;
    position: absolute;
    top: 350%;
    left: 10%;
    padding-top: 10%;
}


.relatos{
    background-color: #4e6583a4;
    width: 35%;
    height: 80%;
    margin-bottom: 20%;
    border: #4e6583;
    border-radius: 20px;
}

.relatos .img-perfil {

    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 25px 0;
    padding-top: 4.5%;
}

.relatos .img-perfil img {

    width: 80%;
    height: 10%;
}

.relatos .text-perfil h1 {

    font-size: 23px;
    color: white;
    margin: 10px 0 10px 10px;
}

.relatos .text-perfil {

    margin: 0 0 0 18px;
}

.relatos .text-perfil .relato p {

    font-size: 15px;
    color: white;
    margin: 0 20px 20px 10px;
    padding-top: 2%;
    
}

.div-total {
    width: 100%;
    height: 100vh;
    display: flex;   
    margin: 0 0 100px 150px;
    margin-top: 10%;
    flex-wrap: wrap;
}

.btn-text {

    width: 40%;
    height: 30%;
    margin: 100px 0 auto 0;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    gap: 25px;
    
}

.ultimobtn button{
  
    background-color: #5a789fe6;
    border: 1px solid;
    border-radius: 13px;
    color: white;
    width: 60%;
    padding: 1.5%;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
}

.ultimobtn {

    width: 100%;
    height: 20%;
}

.arvoreLanding{

    width: 50%;
    height: 100%;
}

.arvoreLanding img {

    width: 100%;
    height: 100%;
    padding-left: 7%;
    position: relative;
}

.textFinal{
   width: 100%;
   height: 80%;
   font-family: "Poppins", sans-serif;
   font-size: 23px;
}

.textFinal p {

    color: var(--cor-1);
    font-weight: 200;
}