@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');

*{

    font-family: 'Poppins' , sans-serif;
}

.landingPage-container{
    background-color:#ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    margin: auto;
}



.info {

    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    margin-left: 5%;
}

.container-maior {

    display: flex;
    margin: auto;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.titulo {

    font-family: "Poller One", serif;
    font-weight: 100;
    font-style: normal;
    color: #013a63;
    flex-wrap: wrap;
    width: 90%;
    font-size: 50px;
    margin-top: 13%;
}

.subtitulo {

    color: #013a63;
    font-family: "Poppins", sans-serif;
    flex-wrap: wrap;
    width: 80%;
    font-size: 19px;
    display: block;
    margin-left: -10%;
    margin-top: -27px;
      
}

.subtitulo p {

    height: 22px;
    width: 90%;
}

.btn {

    padding:9%;
    background-color: #5a789fe6;
    border: 1px solid;
    border-radius: 13px;
    color: white;
    margin-top: 10%;
    width: 200%;
    font-family: "Poppins", sans-serif;
    font-size: 28px;
    margin-left: -120%;
}

.btn:hover {

    background-color: #4e6583;
    transition: 0.5s;
    cursor: pointer;
}

.img2 {

    margin: auto;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: -6%;
<<<<<<< HEAD
  
=======
    position: relative;
>>>>>>> e5be12178e34990fffd818618ef092e850a526f4

}


.img2 .computer-inicio {

    display: flex;
    margin: auto;
    
    width: 80%;
    height: 85%;
    
    padding-bottom: 6%;
}

.back {

    background-color: var(--cor-6);
    width: 100%;
    height: 110%;
    display: flex;
}

.imgPhone{

    background-color: none;
    width: 40vw;
}

.phoneImage {

    width: 85%;
    height: 80%;
    padding-top: 13%;

}

.titulo-back{

    background-color: none;
    height: 20%;
    margin: auto;
    text-align: start;
    width: 80%;
   
}

.titulo-back h1 {

    padding-top: 7%;
    font-style: italic;
    color: var(--cor-7);
    font-weight: 500;
    font-size: 40px;
   
}

.texto-um {

    background-color: none;
    height: 35%;
    margin-left: 8%;
    text-align: start;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    width: 55%;
}

.texto-dois {

    background-color: none;
    height: 35%;
    margin: auto;
    text-align: start;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    width: 55%;
   
    
}

.texto-um p {

    position: absolute;
    width: 30%;
    padding-top: 3%;
}

.circuloimg {

    margin-left: 10%;
}

.conhecer-gente {

    height: 10%;
    margin: auto;
}

.conhecer-gente .conhecer-button {

    padding: 1%;
    background-color: var(--cor-1);
    color: white;
    font-family: "Poppins", sans-serif;
    border: none;
    border-radius: 13px;
    font-weight: bold;
    font-size: 25px;
    width: 45%;
    margin-top: -30%;

}

.conteudo {

    width: 60vw;
    height: 100%;
    margin: auto;
}

.conteudo h1 {

    height: fit-content;
    margin: auto;
}

.grande {

    background-color: red;
    display: flex;
    width: 100vw;
}

.esquerdo {

    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: #C1DFF4;

}


.como-funciona {

    background-color: #C1DFF4;
    width: 100;
   

    
}

.imagem-direito {

    width: 50%;
    background-color: #C1DFF4;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;  
}

.imagemterapia{
    width: 70%;
    
   
    
    
}

.relatos{
    width: 100%;
}