*{
    font-family: 'Poppins' , sans-serif;
}

:root{
    --cor-1: #5A789F;
    --cor-2: #CAD7EB;
    --cor-3: #000;
    --cor-4: #012A4A;
    --cor-5: #014F86;
}

.login-container{
    background-color:#5A789F;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    margin: auto;
}

body{
    margin: auto;
}

.Lado-esquerdo{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lado-Direito{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: flex-end;
}


.titulo-login{
    font-size: 300%;
    padding-right: 15%;
    color: #ffff;
}



.botao-login{
    width: 20%;
    display: flex;
    font-size: 150%;
}

.botao-estilizado{
    width: 500%;
    font-size: 80%;
    padding:5%;
    border-radius: 13px;
    border: 1px solid var(--cor-2);
    color: var(--cor-1);
}

.botao-estilizado:hover{
    transition: 1s;
    transform: scale(1.1);
    background-color: #C1DFF4;
    border: none;
    color: var(--cor-4);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.inputsLogin{
    display: flex;
    flex-direction: column;
}

.inputsLogin input{
    width: 250%;
    padding: 8%;
    border-radius: 10px;
    border: none;
    background-color: var(--cor-2);
    opacity: 40%;
    color: var(--cor-3);
    font-size: medium;
}

.inputsLogin label{
    width: 20%;
    margin-bottom: 10%;
}

.input_principais{
    width: 79%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    font-size: 220%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    color: #ffff;
    margin-top: 2%;
}

.link-para-cadastro{
    color: #ffff;
    font-size: 60%;
}

.label-Login{
    font-size: 60%;
}

input[type="checkbox"] {
    appearance: none;
    position: relative;
    width: 1.500rem;
    height: 1.500rem;
    background-color: #fff;
    border: 0.125rem solid #ccc;
    border-radius: 0.25rem;
  }

input[type="checkbox"]::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.75rem;
    height: 0.75rem;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: translate(-50%, -50%) scale(0);
    transform-origin: center;
    transition: 0.125s transform ease-in-out;
    box-shadow: inset 1rem 1rem #fff;
}

  input[type="checkbox"]:checked {
    background-color: var(--cor-5);
    border-color: var(--cor-5);
}

input[type="checkbox"]:checked::before {
    transform: translate(-50%, -50%) scale(1);
}


input[type="checkbox"]:focus {
    border-color: var(--cor-5);
}

.caminho-cadastro{
    margin-top: 4%;
    margin-bottom: 6%;
}