:root{
    --cor-1: #5A789F;
    --cor-2: #CAD7EB;
    --cor-3: #000;
    --cor-4: #012A4A;
    --cor-5: #014F86;
}

.perfilVisu-container{ 
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Altura mínima é 100% da viewport */
    background-color: #DBEEF4; /* Fundo azul claro */
    flex: 1;
    
}

div::-webkit-scrollbar-track{

    background: #f1f1f1;
    border-radius: 3px;
}

div::-webkit-scrollbar-thumb{


    background-color: var(--cor-1);
    border-radius: 3px;
}

div::-webkit-scrollbar{


    width: 12px;
}


.editar-perfil-profissional{
    margin-top: 6%;
    
}

.perfil-profissional{
    margin-top: 6%;
}

.a-foto{
   padding-top: 20%; 
}