:root{
    --cor-1: #5A789F;
    --cor-2: #CAD7EB;
    --cor-3: #000;
    --cor-4: #012A4A;
    --cor-5: #014F86;
}


.perfilPro-container{
    background-color: #DBEEF4;
    display: flex;
    flex-direction: column;
}

.todas-divs{
    display: flex;
    flex-direction: column;
    gap: 80px;
}


.perfil-profissional{
    display: block;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    width: 70%;
    height: fit-content;
}

.titulo-perfil{
    display: flex;
    background-color: #5a789f;
    color: white;
    border-radius: 10px;
    width: 100%;
    height: fit-content;
}

.titulo-perfil h1{
    padding-left: 5%;
}

.div-foto-nome{
    display: flex;
    margin: auto;
    width: 80%;
    height: fit-content;
    border-bottom: 3px solid #5a789f;
}

.foto-usuario{
    display: flex;
    justify-content: flex-start;
    width: fit-content;
    padding: 1%;
    padding-left: 2%;
}

.a-foto{
    height: 200px;
    border-radius: 100px;
}

.nick-usuario{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1%;
    font-size: 1.5em;
    line-height: 1px;
}

.nick-usuario p{
    opacity: 50%;
}

.div-info{
    display: flex;
    margin: auto;
    width: 80%;
    height: fit-content;
    align-items: center;
    border-bottom: 3px solid #5a789f;
    color: #5a789f;
    font-weight: bold;
}

.div-menor-info{
    display: block;
    font-size: 1.5em;
    width: 30%;
    height: 216px;
    padding: 1%;
}

.div-menor-info h1{
    font-size: 1.5em;
}

.descricao{
    display: block;
    font-size: 1.5em;
    width: 50%;
    height: 216px;
    padding: 1.5%;
}

.descricao textarea{
    width: 100%;
    border: none;
    font-size: 1em;
    resize: none;
    min-height: 120px;
    color: #5A789F;
    font-weight: bold;
    overflow: hidden;
}

.titulo-agenda{
    display: flex;
    margin: auto;
    background-color: none;
    width: 80%;
    height: fit-content;
    color: #5A789F;
}

.div-agenda{
    display: flex;
    margin: auto;
    background-color: #5a789f;
    border-radius: 15px;
    width: 80%;
    height: fit-content;
    
}

.agendinha{
    width: 100%;
    padding-bottom: 5%;
}

.anotações-profissional{
    display: block;
    margin: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 70%;
    height: fit-content;
}

.input-button{
    display: flex;
    margin: auto;
    width: 80%;
    height: fit-content;
}

.input-anotações{
    width: 70%;
    padding: 2%;
}

.input-anotações textarea{
    width: 90%;
    display: flex;
    padding: 12px;
    color: #5A789F;
    border: 2px solid #5A789F;
    font-size: 1.2em;
    border-radius: 15px;
    resize: none;
}

.button-anotações{
    width: 30%;
    padding: 2%;
}

.button-anotações button{
    width: 90%;
    display: flex;
    justify-content: center;
    background-color: #5A789F;
    color: white;
    border: none;
    padding: 4.9%;
    font-size: 1.2em;
    border-radius: 15px;
}

.button-anotações button:hover{
    background-color: #C1DFF4;
    border: none;
    color: var(--cor-4);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.button-anotações button:active{
    transform: translateY(2px); 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.div-anotações{
    display: flex;
    margin: auto;
    background-color: rgba(0, 255, 255, 0.822);
    width: 80%;
    height: fit-content;
}

.editar-perfil-profissional{
    display: block;
    margin: auto;
    background-color:rgb(255, 255, 255);
    border-radius: 10px;
    width: 70%;
    height: fit-content;
}

.container-inputs-editar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}
.container-inputs-editar p{

    width: fit-content;
    
}

.div1-editar{
    display: block;
    font-size: 1.5em;
    width: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.div1-editar input{
    background-color: #CAD7EB;
    opacity: 40%;
    color: #5A789F;
    border: none;
    width: 100%;
    padding: 5%;
    border-radius: 13px;
    
}

.div1-editar input::placeholder{
    color: #012A4A;
    font-size: medium;
}

.div_container_pinput{
   
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    justify-content: center;

}

.div_pinput{
    width: 54%;
    text-align: start;
}

.div2-editar{

    display: block;
    font-size: 1.5em;
    width: 50%;
    text-align: center;
    
}



.div2-editar input{
    
    background-color: #CAD7EB;
    opacity: 40%;
    color: #012A4A;
    border: none;
    width: 100%;
    padding: 5%;
    border-radius: 13px;
}

.div2-editar input::placeholder{
    color: #012A4A;
    font-size: medium;
}

.container-areas{
    display: block;
    padding: 3%;
}

.div-areas{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #5A789F;
    border-radius: 15px;
    color: white;
    padding: 2%;
}

.as-areas{
    /* background-color: #5A789F; */
    display: flex;
    flex-direction: column;
    /* margin: auto;
    justify-content: center;
    align-items: center; */
    width: 50%;
    font-size: 1.7em;
}



.container-agendamento{

    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-bottom: 5%;
    border-radius: 10px;
    
}

.container-menor-ag{

    background-color: #5A789F;
    width: 80%;
    border-radius: 10px;
    margin: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.button_passar{
    background-color: white;
    width: 8%;
    border: none;
    font-size: 4em;
    color: #5A789F; 
    padding-left: 40px;
}

.button_voltar{

    background-color: white;
    width: 8%;
    border: none;
    font-size: 4em;
    color: #5A789F; 
    padding-right: 40px;
}

.semana{

    background-color: #5A789F;
    justify-content: space-around;
    width: 100%;
}
.div_informações_ag{
    
    width: 28%;
    background-color: #ffffff;
    font-weight: 500;
    border-radius: 10px;
    height: 270px;
}

.dias_semana{

    padding-top: 5%;
    padding-left: 4%;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    margin: 0;
    width: 98%;
    height: 650px;
    flex-wrap: wrap;
    gap: 5%;
    color: #000000;
    border-radius: 10px;
}

.cabeçalho{

    display: flex;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    background-color: rgb(164, 190, 212);
    height: 45px;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-top-right-radius: 10px ;
    border-top-left-radius: 10px;
}

.buttons_trocar_agendamento{

   
}

.mes-ano{
    color: white;
    font-size: 2em;
    text-transform: capitalize;
  
}

.mensagem_s{
    display: flex;
    justify-content: center;
    padding-top: 8%;
    text-transform: capitalize;
    font-size: 1.2em;
}

.itens_ag{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: start;
}

.os-itens{
    text-transform: capitalize;
    display: block;
    width: 100%;
    font-size: 1.2em;
    
}

.buttons-itens{
    display: flex;
    width: 100%;
    gap: 5%;
    /* background-color: #5A789F; */
}

.cancelar{
    width: 60%;
    height: 60px;
    background-color: #5A789F;
    border: none;
    color: white;
    border-radius: 100px;
}

.check{
    width: 30%;
    background-color: #5a789f00;
    border: none;
    border-radius: 100px;
}

