:root{
    --cor-1: #5A789F;
    --cor-2: #CAD7EB;
    --cor-3: #000;
    --cor-4: #012A4A;
    --cor-5: #014F86;
}


.perfilPro-container{
    background-color: #DBEEF4;
    display: flex;
    flex-direction: column;
}

.todas-divs{
    display: flex;
    flex-direction: column;
    gap: 80px;
}


.perfil-profissional{
    display: block;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    width: 70%;
    height: fit-content;
}

.titulo-perfil{
    display: flex;
    background-color: #5a789f;
    color: white;
    border-radius: 10px;
    width: 100%;
    height: fit-content;
}

.titulo-perfil h1{
    padding-left: 5%;
}

.div-foto-nome{
    display: flex;
    margin: auto;
    width: 80%;
    height: fit-content;
    border-bottom: 3px solid #5a789f;
}

.foto-usuario{
    display: flex;
    justify-content: flex-start;
    width: fit-content;
    padding: 1%;
    padding-left: 2%;
}

.a-foto{
    height: 200px;
    border-radius: 100px;
}

.nick-usuario{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1%;
    font-size: 1.5em;
    line-height: 1px;
}

.nick-usuario p{
    opacity: 50%;
}

.div-info{
    display: flex;
    margin: auto;
    width: 80%;
    height: fit-content;
    align-items: center;
    border-bottom: 3px solid #5a789f;
    color: #5a789f;
    font-weight: bold;
}

.div-menor-info{
    display: block;
    font-size: 1.5em;
    width: 30%;
    height: 216px;
    padding: 1%;
}

.div-menor-info h1{
    font-size: 1.5em;
}

.descricao{
    display: block;
    font-size: 1.5em;
    width: 50%;
    height: 216px;
    padding: 1.5%;
}

.descricao textarea{
    width: 100%;
    border: none;
    font-size: 1em;
    resize: none;
    min-height: 120px;
    color: #5A789F;
    font-weight: bold;
    overflow: hidden;
}

.titulo-agenda{
    display: flex;
    margin: auto;
    background-color: none;
    width: 80%;
    height: fit-content;
    color: #5A789F;
}

.div-agenda{
    display: flex;
    margin: auto;
    background-color: #5a789f;
    border-radius: 15px;
    width: 80%;
    height: fit-content;
    
}

.agendinha{
    width: 100%;
    padding-bottom: 5%;
}

.anotações-profissional{
    display: block;
    margin: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 70%;
    height: fit-content;
}

.input-button{
    display: flex;
    margin: auto;
    width: 80%;
    height: fit-content;
}

.input-anotações{
    width: 70%;
    padding: 2%;
}

.input-anotações textarea{
    width: 90%;
    display: flex;
    padding: 12px;
    color: #5A789F;
    border: 2px solid #5A789F;
    font-size: 1.2em;
    border-radius: 15px;
    resize: none;
    cursor: pointer;
}

.button-anotações{
    width: 30%;
    padding: 2%;
}

.button-anotações button{
    width: 90%;
    display: flex;
    justify-content: center;
    background-color: #5A789F;
    color: white;
    border: none;
    padding: 4.9%;
    font-size: 1.2em;
    border-radius: 15px;
    cursor: pointer;
}

.button-anotações button:hover{
    background-color: #C1DFF4;
    border: none;
    color: var(--cor-4);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.button-anotações button:active{
    transform: translateY(2px); 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.div-anotações{
    display: flex;
    margin: auto;
    background-color: rgba(0, 255, 255, 0.822);
    width: 80%;
    height: fit-content;
}

.editar-perfil-profissional{
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(255, 255, 255);
    border-radius: 10px;
    width: 70%;
    height: fit-content;
}

.container-inputs-editar{
    display: flex;
    width: 76%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.container-inputs-editar p{
    width: fit-content;   
}

.div1-editar{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5em;
    width: 50%;
    padding-right: 5%;
}

.div1-editar input{
    background-color: #CAD7EB;
    color: var(--cor-4);
    border: none;
    width: 100%;
    padding: 5%;
    border-radius: 13px;
    cursor: pointer;
}

.div1-editar input::placeholder{
    color: var(--cor-4);
    font-size: medium;
}

.div_container_pinput{
   
    display: flex;
    margin: auto;
    justify-content: center;
    width: 100%;

}

.div_pinput{
    width: 54%;
    text-align: start;
}

.div2-editar{

    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    width: 50%;
    text-align: center;
    padding-right: 5%;
}

.div2-editar input{
    
    background-color: #CAD7EB;
    color: var(--cor-4);
    border: none;
    width: 100%;
    padding: 5%;
    border-radius: 13px;
    cursor: pointer;
}

.div2-editar input::placeholder{
    color: var(--cor-4);
    font-size: medium;
}

.divs-editar{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-bottom: solid #5A789F;
    border-top: solid #5A789F;
}

.input-abordagem-perfil{
    display: flex;
    flex-direction: column;
    width: 58.5%;
    border-radius: 10px;
    border: none;
    color: var(--cor-4);
    font-size: medium;
    padding-right: 2%;
    padding-top: 2%;
}

.input-abordagem-perfil select{
    width: 100%;
    cursor: pointer;
}

.input-abordagem-perfil p{
    color: #000;
    font-size: 1.5em;
}

.input-horario-perfil{
    display: flex;
    flex-direction: column;
    width: 58.5%;
    border-radius: 10px;
    border: none;
    color: var(--cor-4);
    font-size: medium;
    padding-right: 2%;
}

.input-horario-perfil select{
    width: 100%;
    cursor: pointer;
}

.input-horario-perfil p{
    color: #000;
    font-size: 1.5em;
}

.div-buttons-salvar-cancelar{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: 5%;
    padding-right: 20%;
    padding-bottom: 3%;
    width: 97%;
    gap: 3%;
}

.div-buttons-salvar-cancelar button{
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 1.2em;
    border-radius: 15px;
    cursor: pointer;
}

.salva{
    width: 25%;
    padding: 1%;
    font-size: 1.2em;
    border-radius: 15px;
    cursor: pointer;
    background-color: #5A789F;
    color: white;
    border: none;
}

.a{
    width: 15%;
    padding: 1%;
    font-size: 1.2em;
    border-radius: 15px;
    cursor: pointer;
    background-color: white;
    color: #5A789F;
    border: 2px solid #5A789F;
}

.div-buttons-salvar-cancelar button:hover{
    background-color: #C1DFF4;
    border: none;
    color: var(--cor-4);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.div-buttons-salvar-cancelar button:active{
    transform: translateY(2px); 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.contador{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 73%;
    /* background-color: #000; */

}

.container-agendamento{

    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-bottom: 5%;
    border-radius: 10px;
    
}

.container-menor-ag{

    background-color: #5A789F;
    width: 80%;
    border-radius: 10px;
    margin: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.button_passar{
    background-color: white;
    width: 8%;
    border: none;
    font-size: 4em;
    color: #5A789F; 
    padding-left: 40px;
    cursor: pointer;
}

.button_voltar{

    background-color: white;
    width: 8%;
    border: none;
    font-size: 4em;
    color: #5A789F; 
    padding-right: 40px;
    cursor: pointer;
}


.semana{

    background-color: #5A789F;
    justify-content: space-around;
    width: 100%;
}
.div_informações_ag{
    
    width: 28%;
    background-color: #ffffff;
    font-weight: 500;
    border-radius: 10px;
    height: 335px;
}

.dias_semana{

    padding-top: 5%;
    padding-left: 4%;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    margin: 0;
    width: 98%;
    height: 900px;
    flex-wrap: wrap;
    gap: 5%;
    color: #000000;
    border-radius: 10px;
}

.cabeçalho{

    display: flex;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    background-color: rgb(164, 190, 212);
    height: 45px;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-top-right-radius: 10px ;
    border-top-left-radius: 10px;
}

.Nome_dia_da_semana{
    text-transform: capitalize;
  
}

.mes-ano{
    color: white;
    font-size: 2em;
    text-transform: capitalize;
  
}

.mensagem_s{
    display: flex;
    justify-content: center;
    padding-top: 8%;
    text-transform: capitalize;
    font-size: 1.2em;
}

.itens_ag{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: start;
}


.os-itens{
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    height: 308px;
    font-size: 1.2em;
    
}

.div_para_itens{

    width: 60%;
    justify-content: start;
}

.div_para_itens p{

    width: fit-content;
}


.div_buttons_trocar_agendamentos{

    display: flex;
    width: 100%;

    align-items: center;
    text-align: center;
    justify-content: center;
}

.buttons_trocar_agendamento{

    width: 12%;
    background-color: white;
    border: none;
    cursor: pointer;
}



.buttons-itens{
    display: flex;
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5%;
    /* background-color: #5A789F; */
}

.cancelar{
    width: 50%;
    height: 40px;
    background-color: #5A789F;
    border: none;
    color: white;
    border-radius: 100px;
    cursor: pointer;
}

.cancelar:hover{
    background-color: #C1DFF4;
    border: none;
    color: var(--cor-4);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.cancelar:active{
    transform: translateY(2px); 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.check{
    width: 20%;
    background-color: #5a789f00;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

.check img:hover{
    border: none;
    color: var(--cor-4);
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
}

.check img:active{
    transform: translateY(2px); 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.confirmacao-exclusao {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .confirmacao-exclusao p {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .confirmacao-exclusao button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .confirmacao-exclusao button:hover {
    background-color: #f0f0f0;
  }

  .div-esp {

    max-width: 200px;
    height: 150px;
    overflow-x: auto; 
    /* border: 1px solid #ccc;  */
    padding: 10px;
    box-sizing: border-box;
}

.div-esp::-webkit-scrollbar-track{

    background: #f1f1f1;
    border-radius: 3px;
}

.div-esp::-webkit-scrollbar-thumb{


    background-color: var(--cor-1);
    border-radius: 3px;
}

.div-esp::-webkit-scrollbar{


    width: 10px;
}

.div-desc{

    width: 500px;
    height: 150px;
    overflow-x: auto; 
    border: 1px solid #ccc; 
    padding: 10px;
    box-sizing: border-box;
}

.div-desc::-webkit-scrollbar-track{

    background: #f1f1f1;
    border-radius: 3px;
}

.div-desc::-webkit-scrollbar-thumb{


    background-color: var(--cor-1);
    border-radius: 3px;
}

.div-desc::-webkit-scrollbar{


    width: 10px;
}

.perfilPro-container {

<<<<<<< HEAD
/*::-webkit-scrollbar,::-webkit-scrollbar-thumb, e `:::-webkit-scrollbar-track. Esse
=======
   padding: 20px;

}

.detalhes-conteudo{
        
    position: absolute;
    background: white;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    z-index: 1000;
    transform: translateY(-50%);

}
          
/* Adicionando a seta */
.detalhes-conteudo::before {

    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #5A789F transparent transparent;
    left: -10px; /* Posiciona a seta na lateral esquerda */
    top: 50%; /* Centraliza verticalmente */
    transform: translateY(-50%);

}
          
.detalhes-conteudo h2 {
    margin-top: 0;
    color: #0078d4;
}
          
.detalhes-conteudo p {
    margin: 0.5rem 0;
 }

.fechar-detalhes {
    
    margin-top: 20px;
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
.fechar-detalhes:hover {
    background-color: darkred;}
                    

/*::-webkit-scrollbar,::-webkit-scrollbar-thumb, e `:::-webkit-scrollbar-track. Esse

>>>>>>> cdcd0206886c09f3da9d719c7cd5ee03f7c8b9ec
