
.H1_recursos{

padding: 5%;
color:#5a789f;
width: 30%;
flex-wrap: wrap;
font-size: 45px;

}

.Container-recursos{

  width: 100vh;
  justify-content: space-between;
  height: 20%;
}

.div_pradão_recursos{
    
    display: block;
    width: 30%;
    background-color: #5a789f;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    border-radius: 15px;
    padding: 2%;
}

.div_imagem_rec{

    background-color: white;
    width: 80%;
    border-radius: 15px;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
}

.div_imagem_rec img{
    width: 70%;
    margin: auto;
    justify-content: center;
    align-items: center;
}