.sobreNos-container{
    background-color:#5A789F;
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: auto;
}

:root{
    --cor-1: #5A789F;
    --cor-2: #CAD7EB;
    --cor-3: #000;
    --cor-4: #012A4A;
    --cor-5: #014F86;
}