.sobreNos-container{
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: auto;
}

:root{
    --cor-1: #5A789F;
    --cor-2: #CAD7EB;
    --cor-3: #000;
    --cor-4: #012A4A;
    --cor-5: #014F86;
    --cor-6: #DBEEF4;
    --cor-7: #013A63;
}

.img{
    width: 45%;
}

.conteudoo{
    display: flex;
    padding-right: 10%;
}

.conteudoo h1{
    font-size: 300%;
    color: var(--cor-1);
}

.descricaoMissao{
    width: 35%;
    font-size: 150%;
    padding-right: 2%;
}