.sobreNos-container{
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: auto;
}

:root{
    --cor-1: #5A789F;
    --cor-2: #CAD7EB;
    --cor-3: #000;
    --cor-4: #012A4A;
    --cor-5: #014F86;
    --cor-6: #DBEEF4;
    --cor-7: #013A63;
    --cor-8: #77A7FF;
}

.img{
    width: 50%;
    padding-left: 1%;
}

.conteudoo{
    display: flex;
}

.conteudoo2{
    display: flex;
    padding-top: 5%;
}

.conteudoo h1, .conteudoo2 h1{
    font-size: 300%;
    color: var(--cor-1);
}

.descricaoMissao{
    position: absolute;
    text-align: justify;
    width: 36%;
    font-size: 150%;
    padding-left: 50%;
    padding-top: 5%;
}

.bolaMissao{
    width: 50%;
}

.bolinhas{
    padding-left: 56%;
}

.arvoreSobre{
    width: 50%;
}

.descricaoFundacao{
    position: absolute;
    width: 35%;
    font-size: 150%;
    padding-left: 15%;
}

.fotoNossa{
    background-color: var(--cor-1);
    width: 30%;
    height: 50%;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    margin: auto;
    margin-top: 4%;
    margin-left: 14%;
}

.divCards{
    display: flex;
    padding-left: 50%;
    width: fit-content;
}

.card1{
    position: absolute;
    background-color: #f2f2f2;
    border: 2px solid var(--cor-1);
    color: var(--cor-1);
    text-align: center;
    width: 10%;
    padding: 1%;
    left: 40%;
    top: 150%;
    border-radius: 100px;
}

.card2{
    position: absolute;
    background-color: #f2f2f2;
    border: 2px solid var(--cor-8);
    color: var(--cor-8);
    text-align: center;
    width: 10%;
    padding: 1.2%;
    left: 70%;
    top: 170%;
    border-radius: 100px;
}

.card3{
    margin: auto;
    background-color: #f2f2f2;
    border: 2px solid var(--cor-1);
    color: var(--cor-1);
    text-align: center;
    width: 10.2%;
    padding: 0.7%;
    height: 20%;
    left: 45%;
    top: 190%;
    border-radius: 100px;
}

.divSugestões{
    display: flex;
    margin: auto;
    background-color: var(--cor-1);
    border-radius: 20px;
    width: 80%;
    margin-top: 10%;
}

.imgDivSugestao{
    width: 40%;
    border: 1px solid red;
}

.dadosSugestoes{
    display: flex;
    flex-direction: column;
    width: 60%;
    border: 1px solid aqua;
    color: white;
}

.dadosSugestoes h1{
    font-size: 300%;
}

.dadosSugestoes p{
    font-size: 140%;
}

.dadosSugestoes input{
    background-color: var(--cor-2);
    opacity: 40%;
    border-radius: 10px;
    border: none;
    font-size: medium;
    color: var(--cor-3);
    padding: 1.6%;
    width: 90%;
}

.dadosSugestoes button{
    
}
