/* .body-termos{
    overflow-x: hidden;
    margin: 0;
} */

.botaodecisao{
    width: 170%;
    font-size: 140%;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border: none;
    background-color: #5a789f;
    color: #ffff;
    padding: 5%;
    text-align: center;
    text-decoration: none;
}

/* .botaodecisao:hover{
    background-color: #cad7eb;
    color: #5a789f;
    transition: 1s;
} */

.botaodecisaodois{
    
    width: 150%;
    font-size: 140%;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border: none;
    background-color: #cad7eb;
    color: #5a789f;
    padding: 5%;
    text-align: center;
    text-decoration: none;
}

/* .botaodecisaodois:hover{
    background-color: #5a789f;
    color: #fff;
    transition: 1s;
} */

.divBotoes{
    margin: auto;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.T_titulo{
    font-size: 160%;
    color: #5a789f;
    width: fit-content;
    margin: auto;
    text-align: center;
    padding-top: 5%;
}

.textinho{
    margin: auto;
    align-items: center;
    text-align:justify;
    width: 40%;
    color: #5a789f;
    font-size: 150%;
    padding-top: 3%;
    line-height: 150%;
    font-weight: 600;
}

.introducao{
    position: absolute;
}

.bolona_termos img{
    width: 100%;
}

.bolona_termos{
    width: 20%;
    position: absolute;
    padding-left: 1215px;
}

.boolinha{
    width: 5%;
    padding-left: 95%;
}

.bolinha2{
    width: 5%;
    padding-left: 24%;
    padding-top: 30%;
}

.bolinha3{
    width: 10%;
    padding-left: 90%;
}

.bolonaes{
    width: 20%;
} 

.accordion-container{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    padding-bottom: 2.5%;
}

.textinhoAceitação{
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align:justify;
    color: #5a789f;
    font-size: 110%;
    line-height: 150%;
    font-weight: 600;
    width: 60%;

}

.titulo_ac_um{

    color: #5a789f;
    font-size: 250%;
    padding-top: 3%;
    line-height: 150%;
    font-weight: 600;
    
}

.container_ac{
    width: 70%;
    margin: auto;
    align-items: center;
    justify-content: center;
    border: 2px solid #61a5c2;
}
