<<<<<<< HEAD
/* .App {
  font-family: Arial, sans-serif;
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

.nota-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.add-btn {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
} */

/* .add-btn:hover {
  background-color: #0056b3;
}

.swiper-container {
  margin-top: 20px;
  width: 100%;
}

.nota-slide {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  min-height: 100px;
} */

/* .swiper-pagination {
  bottom: 10px !important; /* Ajusta a posição da paginação */
/* } */ */
=======
>>>>>>> 2942314e02a2b52bf819c524b7ba30d17bf86cee
