button:hover,
a:hover {

  cursor: pointer;
}

.navBar{

  display: flex;
  height: 20%;
  flex-wrap: nowrap;
  padding-left: 3%;
  margin-top: -10%;
  }
  
  .navBar img {
  
  width: 300px;
  height: fit-content;
  margin-top: -70px;
  }
  
  .navBar .Link {
  
  margin-top: 2%;
  justify-content: space-evenly;
  margin-left: 370px;
  flex-wrap: nowrap;
  display: flex;
  }
  
  .Link a,
  .Link button {
  
  font-family: "Poppins", sans-serif;
  margin-left: 80px;
  font-size: 20px;
  color: #5a789f;
  }

  .Link a:hover,
  .Link button:hover {

    color: #013a63;
    transition: 0.5s;
  }

  .btn2 {

    background: none;
    border: none;
    width: 200px;
    height: 20%;
    margin-left: 100px;
  }