.navBar{

  display: flex;
  height: 20%;
  flex-wrap: nowrap;
  
  }
  
  .navBar img {
  
  width: 300px;
  height: fit-content;
  margin-top: -70px;
  }
  
  .navBar .Link {
  
  margin-top: 40px;
  justify-content: space-evenly;
  margin-left: 370px;
  flex-wrap: nowrap;
  }
  
  .Link label{
  
  font-family: "Poppins", sans-serif;
  margin-left: 80px;
  font-size: 20px;
  color: #5a789f;
  }
  
  .Link .btn {
  
  margin-left: 120px;
  }